* {
  margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  font-family: 'Nerko One', cursive;
  text-align: center;
  font-size: 1.5em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  background-color: #ADD8E6;
}

/* HEADER */

header {
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 1.8em;
  margin-top: 10px;
}

/* MAIN */

.container {
  width: 65%;
  max-width: 900px;
  margin: auto;
  margin-bottom: 30px;
}

main .card-element {
  position: relative;
  display: inline-block;
  width: 20%;
  margin: 1%;
  border-radius: 10px;
  background-color: #FFFFFF;
  background-image: url('../img/pattern.png');
  background-position: center;
  background-size: contain;
  background-repeat: repeat;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

main .card-element .card-text {
  position: absolute;
  bottom: 0;
  line-height: 40px;
  width: 100%;
  color: #E61986;
}

main .card-element img {
  width: 100%;
  padding: 20px 20px 40px 20px;
}

/* ACTIVE, HOVER */

main .card-element:hover, 
main .card-element.active {
  background-image: none;
}

main .card-element:hover img,
main .card-element.active img {
  visibility: visible;
}

main .card-element:hover .card-text,
main .card-element.active .card-text {
  visibility: visible;
}

main .card-element:hover .card-text {
  color: #E67919;
}

/* DEFAULT */

main .card-element img {
  visibility: hidden;
}

main .card-element .card-text {
  visibility: hidden;
}

/* FOOTER */

footer p {
  font-size: 20px;
  margin: 30px;
}